<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/header.ejs")%>
    <div>
      <h1>Timeline</h1>
    </div>
    <h2>Sign Up</h2>
    <form class="form" method="post" action="">
      <input
        class="email"
        type="email"
        name="email"
        placeholder=" Your email here..."
      />
      <input
        class="password"
        type="password"
        name="password"
        placeholder=" Your password here..."
      />
      <button class="btn">Sign Up</button>
    </form>
  </body>
</html>
