<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/header.ejs")%>
    <div>
      <h1>Timeline</h1>
    </div>
    <form action="/logout" method="GET">
      <button>Log Out</button>
    </form>
    <h2>Sign Up</h2>
    <form class="form" method="post" action="/user/signup-login">
      <label for="email">E-mail</label>
      <input
        class="email"
        type="email"
        name="email"
        placeholder=" Your email here..."
      />
      <label for="password">Password</label>
      <input
        class="password"
        type="password"
        name="password"
        placeholder=" Your password here..."
      />
      <button class="btn">Sign Up</button>
    </form>
    <% if (signUpMessage) { %>
    <h5><%= signUpMessage %></h5>
    <% } %>
    <h2>Log In</h2>
    <form class="form" method="post" action="/user/login">
      <label for="email">E-mail</label>
      <input
        class="email"
        type="email"
        name="email"
        placeholder=" Your email here..."
      />
      <label for="password">Password</label>
      <input
        class="password"
        type="password"
        name="password"
        placeholder=" Your password here..."
      />
      <button class="btn">Log In</button>
    </form>
    <% if (loginMessage) { %>
    <h5><%= loginMessage %></h5>
    <% } %>
  </body>
</html>
